:root {
    --font-sans: "Aptos", "Helvetica", "Arial", sans-serif;
    --font-mono: "JetBrains Mono", "Fira Code", monospace;
}

body {
    font-family: var(--font-sans);
    font-size: 16px;
    line-height: 2.0;
}

code, pre, .highlight {
    font-family: var(--font-mono);
}


.cpp.function,
.cpp.var {
    border: 2px solid #1e2124;
    border-radius: 8px;
    padding: 1em;
    margin: 1em 0;
}
