name: SonarQube

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  sonarqube:
    name: SonarQube Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate compilation database
          run: |
            mkdir build
            cmake -S . -B build -G Ninja

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@v2
        env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            SONAR_HOST_URL: https://sonarcloud.io
        with:
            args: >
              --define sonar.cfamily.compile-commands=build/compile_commands.json
